<form [formGroup]="appointmentForm">
  <div class="container-row">

    <div>
      <mat-card class="demo-inline-calendar-card">
        <mat-calendar [(selected)]="selected" [minDate]="minDate" [maxDate]="maxDate"></mat-calendar>
      </mat-card>
    </div>

    <div class="rigth-container">
      <mat-list>
        <mat-list-item>Elige la hora de la cita</mat-list-item>
        <mat-list-item>
          <input id="appt-time" type="time" matInput name="appt-time" formControlName="hora" />
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Nombre : {{customer.nombre +' '+ customer.apellido}} </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Telefono y correo : {{customer.telefono}} {{customer.correo}} </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Fecha de la Cita : {{fechaCita()}}</mat-list-item>
      </mat-list>
    </div>

  </div>
  <div class="down-container">
    <mat-label>Servicios seleccionados</mat-label>
  </div>
  <div class="down-container">
    <table mat-table [dataSource]="assingments" class="mat-elevation-z8">

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
      </ng-container>

      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef> Cost </th>
        <td mat-cell *matCellDef="let row"> {{row.precio | currency}} </td>
        <td mat-footer-cell *matFooterCellDef> {{priceTotal | currency}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  </div>
  <div class="example-button-row">
    <div id="btn-rigth">
      <button mat-raised-button color="primary" (click)="onCreater()">Aceptar</button>
    </div>
    <div id="btn-left">
      <button mat-raised-button color="warn">Cancelar</button>
    </div>
  </div>
</form>
