<mat-toolbar color="primary">
  <div class="container">
    <div id="main-container">
      <button (click)="opened=!opened" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Dating project</span>
    </div>

    <div *ngIf="isExistUser()" id="user-container">
      <label id="nombre">Nombre : {{customer.nombre +' '+customer.apellido}}</label>
      <label class="data-user">Correo : {{customer.correo}}</label>
      <label class="data-user">{{customer.rol}}</label>
    </div>
  </div>

</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav [(opened)]="opened" mode="side">
    <mat-list>
      <mat-list-item> <a routerLink="/home"> Home </a> </mat-list-item>

      <ng-template [ngIf]="validarTipoUsuario()">
        <mat-list-item><a routerLink="/">Review appointments</a></mat-list-item>
        <mat-list-item><a routerLink="/">Generate appointment reports</a></mat-list-item>
      </ng-template>

      <mat-list-item *ngIf="!isExistUser()"><a routerLink="/login">Login</a></mat-list-item>
      <mat-list-item *ngIf="isExistUser()"><a routerLink="/user-edit">User edit</a></mat-list-item>
      <mat-list-item *ngIf="isExistUser()"><a routerLink="/user-password">User password</a></mat-list-item>
      <mat-list-item *ngIf="isExistUser()"><a routerLink="/home" (click)="cerrarSesion()">Sign out</a></mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
