<mat-toolbar color="primary">
  <div class="container">
    <div id="main-container">
      <button (click)="opened=!opened" mat-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Dating project</span>
    </div>

    <div *ngIf="isExistUser()" id="user-container">
      <label id="nombre">Nombre : {{customer.nombre +' '+customer.apellido}}</label>
      <label class="data-user">Correo : {{customer.correo}}</label>
      <label class="data-user">{{customer.rol}}</label>
    </div>
  </div>

</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav [(opened)]="opened" mode="side">
    <mat-list>
      <mat-list-item>
        <button mat-button routerLink="/home"><mat-icon>home</mat-icon>Home</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/appointment-review"><mat-icon>library_books</mat-icon>Review
          appointments</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/generate-report"><mat-icon>print</mat-icon>Generate appointment reports</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/login"><mat-icon>login</mat-icon>Login</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/user-edit"><mat-icon>manage_accounts</mat-icon>User edit</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/user-password"><mat-icon>password</mat-icon>User password</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/home"><mat-icon>logout</mat-icon>Sign out</button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
