.container {
  width: 30rem;
  margin: auto;
}

form {
  display: grid;
}

.text-passowrd {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.btn-guardar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-guardar button {
  margin-left: 10px;
  margin-right: 10px;
}
