<div class="container">
  <form [formGroup]="userForm">

    <mat-form-field class="text-passowrd">
      <mat-label>Ingresa la contraseña</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password_old">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="text-passowrd">
      <mat-label>Ingresa la contraseña</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password_new">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="text-passowrd">
      <mat-label>Vuelve a ingresar la contraseña</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="verify_password_new">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <div class="btn-guardar">
      <button mat-raised-button color="primary" (click)="onChangePassword()">Guardar</button>
      <button mat-raised-button color="warn">Cancelar</button>
    </div>
  </form>
</div>
