* {
  padding: 0;
  margin: 0;
}

#container {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

mat-list mat-list-item {
  height: auto;
  margin-bottom: 10px;

}

#container-left {
  float: left;
  width: 48%;
}

#container-rigth {
  float: right;
  width: 48%;
}

#container-left mat-form-field {
  width: 100%;
}

mat-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

#container-rigth input {
  width: 100%;
}

#container-button button {
  width: 100%;
}
