<form [formGroup]="appointmentForm">
  <div id="container">
    <mat-list>
      <mat-list-item>

        <div id="container-left">
          <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fecha">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div id="container-rigth">
          <input id="appt-time" type="time" matInput name="appt-time" formControlName="hora" />
        </div>

      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>


    <div id="container-button">
      <button mat-raised-button color="primary" (click)="onEditAppointment()">Guardar</button>
    </div>
  </div>
</form>
